body { 
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.xobutton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  background-color: #e3e3e3;
  width: 85px;
  height: 85px;
  text-align: center;
  border: none;
  /* align-items: center; */
  /* align-items: ; */
  margin: 10px;

  font-family: "Permanent Marker", cursive;

}

.green {
  color: green;
}

.red {
  color: red;
}

.animate{

  animation-name: bigtosmall;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes bigtosmall {
  0%{ 
    font-size:large;
  }
  50%{
    font-size:x-large;
  }
  100%{
    
    font-size:xx-large;
  }
}
